.login{
    height: 100vh;
    overflow: auto!important;
}
.fs-30{
    font-size: 30px !important;
}
.fs-20{
    font-size: 20px !important;
}

.btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #1D4ED8, #5AD7FE);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.font-weight-bold{
    font-weight: bold !important;
}
.blue-color{
    color: blue !important;
}